= select_tag "filter[department]", \
  grouped_options_for_select(School.dropdown_options, params[:filter][:department]), \
  multiple: true, \
  id: "department_select", \
  hidden: hidden

css:
  #department_select {
    height: 500px;
  }

  optgroup {
    font-weight: bold;
  }

  option {
    font-weight: normal;
  }
